.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.overlay-active{
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
    pointer-events: all;
}

.form-modal{
    position: fixed;
    top: 50px;
    left: 440px;
    z-index: 100;
    pointer-events: none;
    height: 10px;
    opacity: 0;
    translate: 0 -20px;
    transition: all 0.3s ease-in-out;
}
.modal-active{
    display: block;
    margin: 0 auto;
    pointer-events: all;
    height: fit-content;
    opacity: 1;
    translate: 0 0;
}
.modal-active .form-modal-submit-button{
    display: flex;
}
.form-modal form{
    background-color: var(--surface-color);
    padding: 20px;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}
.form-modal-submit-button{
    display: none;
}
.modal-close-btn{
    position: absolute;
    right: 20px;
    top: 27px;
    padding: 10px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    border-radius: 200px;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.8;
    transition: var(--general-transition);
}
.modal-close-btn:hover{
    background-color: var(--primary-hover-color);
    opacity: 1;
}
.form-modal form::-webkit-scrollbar{
    background-color: none;
    width: 3px;
    display: none;
}
.form-modal form::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 10px;
}
.modal-header{
    font-size: 21px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: var(--primary-color);
}
.form-modal-input-field-group{
    display: flex;
    flex-direction: column;
}
.form-modal-input-field-group label{
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--primary-color);
}
.form-modal-input-field-group select, textarea{
    background: none;
    border: none;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: white;
    padding: 0px 10px 0px 10px;
    width: 350px;
}
.form-modal-input-field-group select{
    cursor: pointer;
}
.form-modal-input-field-group input{
    background: none;
    border: none;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: white;
    padding: 0px 10px 0px 10px;
    width: 350px;
}
.form-modal-input-field-group input::-webkit-inner-spin-button{
    display: none;
}

.form-modal-input-field-group textarea{
    padding: 20px;
    resize: none;
    height: 100px;
    padding-top: 15px;
    line-height: 23px;
}
.form-modal-input-field-group textarea::-webkit-scrollbar{
    display: none;
}

.form-modal-input-field-group select:focus{
    outline: none;
    outline: 2px solid var(--primary-color);
}
.form-modal-input-field-group input:focus{
    outline: none;
    outline: 2px solid var(--primary-color);
}
.form-modal-input-field-group textarea:focus{
    outline: none;
    outline: 2px solid var(--primary-color);
}
#add-new-budget-modal form{
    height: fit-content;
}
#edit-budget-modal form{
    height: fit-content;
}


#confirmation-modal form{
    height: fit-content;
    border: none;
    box-shadow: 0px 0px 200px 10px var(--secondary-color);
}
#confirmation-modal .form-header{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 400px;
    line-height: 40px;
    color: var(--primary-color);
}
.action-buttons-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}
.action-buttons{
    background: none;
    border: none;
    padding: 10px 20px;
    width: fit-content;
    color: var(--primary-text-color);
    border-radius: 10px;
    transition: var(--general-transition);
    cursor: pointer;
}
.confirm-action{
    background-color: var(--success-color);
}
.action-buttons:hover{
    opacity: 0.7;
}
.cancel-action{
    background-color: var(--danger-color);
}
.add-new-transaction-date-input{
    cursor: pointer;
}