/*GLOBAL STYLING*/
:root{
    --background-color: #0f0c1d;
    --surface-color: #1a162d;
    --primary-color: #8b5cf6;
    --secondary-color: #261b38;
    --primary-hover-color: #2e2639;
    --secondary-hover-color: #4c3582;
    --accent-color: #c4b5fd;
    --success-color: #10b981;
    --danger-color: #ef4444;
    --primary-text-color: #f9fafb;
    --secondary-text-color: #9CA3af;
    --general-border-radius: 12px;
    --general-border: 1px solid #424548;
    --general-shadow: 0px 0px 25px 9px rgba(139,92,246,0.2);
    --primary-font: montserrat, arial;
    --secondary-font: inter, sans-serrif;
    --general-transition: all 0.2s ease-in-out;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
main{
    margin-left: 276px;
}
section{
    padding: 15px;
}
/*
Media Queries
First Breakpoint: 1024px
Second Breakpoint: 768px
Third Breakpoint: 550px
Last Breakpoint: 370px
*/
