.toast{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    background: transparent;
    backdrop-filter: blur(15px);
    translate: 30px 0;
    transition: all 0.3s ease-in-out;
    z-index: 200;
}
.success-toast{
    border: 2px solid var(--success-color);
    color: var(--success-color);
}
.toast-active{
    opacity: 1;
    translate: 0 0;
}
.toast-icon{
    font-size: 28px;
}
.success-toast .toast-icon{
    filter: drop-shadow(0px 0px 20px var(--success-color));
}
.toast-data{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.toast-header{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
}
.toast-message{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 13px;
}
.danger-toast{
    border: 2px solid var(--danger-color);
    color: var(--danger-color);
}
.danger-toast .toast-icon{
    filter: drop-shadow(0px 0px 20px var(--danger-color));
}
.alert-toast{
    border: 2px solid var(--warning-color);
    color: var(--warning-color);
}
.alert-toast .toast-icon{
    filter: drop-shadow(0px 0px 20px var(--warning-color))
}
